doctype html
h3 Wybierz leki
div
    form(action='/prices' method='post')
        label(for='medicine') 
        each drug in medicine
            div.checkox-inline
            input.checkbox-input(type='checkbox' name='checkBox' value=drug[1])
            label(for='option')=drug[0]
        br
        input(type='submit', value='Wybierz')