doctype html
h3 Wybierz leki
div
    each drug in medicine
        div.checkox-inline
        input.checkbox-input(type='checkbox' data-id=drug[1] name="checkbox-"+drug[1] id="checkbox-"+drug[1])
        label(for="checkbox-"+drug[1])=drug[0]
    br
button(onclick="f()") Wybierz
script(src="/script.js")