doctype html
head 
    title Leki
    link(rel='stylesheet' href='/stylesheets.css')
h3 Wybierz leki
div(id="error" style="font-size:25px; text-align:center; color:red;")
    span(class="error_mess" id="invalid")
div(id='plotting')
    div(id='drugs' style="OVERFLOW-Y:auto; overflow-x:auto; WIDTH:25%; HEIGHT:500px")
        button(id="btn-unselect-all" onclick="unselectAll()" style="font-size:17px") Odznacz wszystko 
        button(id="btn-select-all" onclick="selectAll()" style="font-size:17px") Zaznacz wszystko
        button(id="btn-reverse-selection" onclick="reverseSelect()" style="font-size:17px") Odwróć zaznaczenie
        button(id="btn-build-chart" onclick="buildChart()" style="font-size:17px") Kreśl
        button(id="btn-reset-zoom" onclick="resetZoomChart()" style="font-size:17px") Zresetuj Zoom
        button(id="btn-get-pdf" onclick="getPDF()" style="font-size:17px") Zapisz PDF
        each drug in medicine
            div.checkox-inline
            input.checkbox-input(type='checkbox' data-id=drug[1] name="checkbox-"+drug[1] id="checkbox-"+drug[1])
            label(for="checkbox-"+drug[1])=drug[0]
        br
    div(style="max-width: 500; width: 60% !important;")
        canvas(id="myChart")
    script(src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.2.1/chartjs-plugin-zoom.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.14.305/pdf.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js")
    script(src="/script.js")