doctype html
h3 Wybierz leki
div
    form(action='/prices' method='post')
        label(for='prices') 
        input(type='submit', value='Submit')
        each drug in medicine
            div.checkox-inline
            input.checkbox-input(type='checkbox' name='graph' value=drug[1])
            label(for='graph')=drug[0]