doctype html
h3 Wybierz leki
div
    each drug in medicine
        div.checkox-inline
        input.checkbox-input(type='checkbox' data-id=drug[1] name="checkbox-"+drug[1] id="checkbox-"+drug[1])
        label(for="checkbox-"+drug[1])=drug[0]
    br
button(onclick="f()") Wybierz
//- nie jestem pewien co do tego pierwszego src tutaj
script(src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js")
script(src="/script.js")
canvas(id="myChart" width="800" height="450")
