doctype html
h3 Wybierz substancję aktywną
div
    form(action='/medicine' method='post')
        label(for='substanceOpt') Substancja 
        select(name='dropDown', id='')
            each substance in substances
                option(value=substance[1]) #{substance[0]} 
            input(type='submit', value='Submit')