doctype html
head 
    title Leki
    link(rel='stylesheet' href='/stylesheets.css')
h3 Wybierz substancję aktywną
div(id="options")
    form(action='/medicine' method='post')
        select(name='dropDown', id='', style="font-size:17px")
            each substance in substances
                option(value=substance[1]) #{substance[0]} 
            input(type='submit', value='Wybierz',style="font-size:17px")